<p class="footer-size fw-lighter text-center">A leaning management system <br/>for physical education</p>
<p class="footer-size fw-lighter text-center">
    <small>
        Copyright 2024
    </small>
</p>
