@{
    ViewBag.Title = "OPE";
}

<main class="p-3">
    <section class="d-flex p-2 align-items-center justify-content-between w-100">
        <div class="d-flex align-items-center">
            @Html.Partial("_NavToggle")
            <span class="fs-4">PHYSICAL FITNESS TEST SCORE CARD</span>
        </div>
    </section>
    <img src="" alt="">
    <section class="container-fluid">
        <div class="card my-2 teacher-list">
            <div class="card-body">
                <span class="fs-4">Active Teacher List</span>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Teacher Number</th>
                            <th>Name</th>
                            <th>School</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1234</td>
                            <td>John Doe</td>
                            <td>STI</td>
                        </tr>
                        <tr>
                            <td>1234</td>
                            <td>John Doe</td>
                            <td>STI</td>
                        </tr>
                        <tr>
                            <td>1234</td>
                            <td>John Doe</td>
                            <td>STI</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card my-2 teacher-list">
            <div class="card-body">
                <span class="fs-4">Active Student List</span>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Teacher Number</th>
                            <th>Name</th>
                            <th>School</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1234</td>
                            <td>John Doe</td>
                            <td>STI</td>
                        </tr>
                        <tr>
                            <td>1234</td>
                            <td>John Doe</td>
                            <td>STI</td>
                        </tr>
                        <tr>
                            <td>1234</td>
                            <td>John Doe</td>
                            <td>STI</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card my-2 teacher-list">
            <div class="card-body">
                <span class="fs-4">Pending Account Approval</span>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Teacher Number</th>
                            <th>Name</th>
                            <th>School</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1234</td>
                            <td>John Doe</td>
                            <td>STI</td>
                        </tr>
                        <tr>
                            <td>1234</td>
                            <td>John Doe</td>
                            <td>STI</td>
                        </tr>
                        <tr>
                            <td>1234</td>
                            <td>John Doe</td>
                            <td>STI</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>