@{
    Layout = "";
}
@{
    ViewBag.Title = "Data Privacy Consent";
}
@Styles.Render("~/Content/css")
<main aria-labelledby="title" class="data-privacy-class">
    <div class="card-group" style="width: 75%; height: auto;">
        <div class="card">
            <img src="@Url.Content("~/Content/Images/happy-children-enjoying-their-gym-class.jpg")" alt="consent-image" class="img-fluid rounded-start" style="object-fit: cover; width: 100%; height: 100%;" />
        </div>
        <div class="card">
            <div class="card-body text-center">
                <h2 id="title">@ViewBag.Title</h2>
                <hr />
                <p style="text-align: left;">
                    Data Privacy Confirmation:

                    By using the LMS-Online Physical Fitness Test, I hereby confirm that I have carefully read, fully understand, and unconditionally agree to the collection, utilization, and processing of my personal data in strict accordance with the rightful owner's Privacy Policy.

                    I am well aware that the personal information I have provided will be exclusively employed for the purpose of account establishment, as well as for any relevant processing activities associated with my usage of the system. Moreover, I trust that the system's rightful owner will undertake all necessary measures to safeguard my data in full compliance with the applicable data protection laws.

                    I also explicitly acknowledge my inherent right to access, rectify, or request the deletion of my personal information at any time, as and when I deem it necessary.

                    By clicking the <strong>"AGREE"</strong> button, I am voluntarily providing my consent to the processing of my data as described above and in accordance with the owner's Privacy Policy.
                </p>
                <hr />
                <div class="d-flex w-100 justify-content-evenly">

                    @using (Html.BeginForm("Proceed", "UserAccount", FormMethod.Post, new { id = "preceedForm" }))
                    {
                        <button class="btn btn-success px-3" type="submit">
                            AGREE
                        </button>
                    }
                    @using (Html.BeginForm("Exit", "UserAccount", FormMethod.Post, new { id = "exitForm" }))
                    {
                        <button class="btn btn-outline-primary px-3" type="submit">
                            EXIT
                        </button>
                    }



                    
                </div>
            </div>
        </div>
    </div>
</main>
