@{
    ViewBag.Title = "OPE";
}

<main class="p-3">
    <section class="d-flex p-2 align-items-center justify-content-between w-100">
        <div class="d-flex align-items-center">
            @Html.Partial("_NavToggle")
            <span class="fs-4">@ViewBag.Title - Dashboard</span>
        </div>
        @Html.ActionLink("Go Back", "Index", "Home", null, new { @class = "btn btn-outline-primary" })
    </section>
</main>