:root{
    --primary-color: #0019e6;
    --secondary-color: #c80000 ;
    --text-color: #ffffff;
    --background-color: #272727;
}

p {
    margin: 0 !important; 
}

.form-label{
    margin: 0 !important;
}

.container-fluid{
    padding: 0 !important;
}

.center-items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-size{
    font-size: .75rem;
    margin: 0;
}


/* general color classes */
.bg-b {
    background-color: var(--primary-color); /* Replace with your desired color */
    color: var(--text-color); /* Ensures the text is readable */
}
.bg-b:hover {
    background-color: var(--primary-color); /* Optional: Darker shade on hover */
}

.c-blue {
    color: var(--primary-color) !important;
}
.bg-white{
    background-color: var(--text-color) !important;
}
.c-white {
    color: var(--text-color) !important;
}

.backgradient{
    background: var(--primary-color);
    background: linear-gradient(180deg, var(--primary-color) 0%, var(--text-color) 100%);
}

.bg-image {
    background-image: url('../Images/tests-bg.png');
    width: 100%;
    background-size: cover;
    background-position: center;
    opacity: .25;
}